*{
    margin:0;
    padding:0;
}

.hamburger {
  width: 30px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: darkblue;  
  margin: 6px 0;
  border-radius: 2px;
  transition: 0.3s;
}

.header{
    background: rgb(126, 207, 234);
    text-align: center;
    padding: 1rem;
}

body{
    font-family: sans-serif;
}

h2{
    width: 22ch;
    margin-left: 10rem;
    padding:0;
}

img{
    width:100px;
}

.sub{
    line-height:1.5rem;
    width: 45ch;
    margin-left: 10rem;
}

.sec{
    background: lightgray;
}

form{
    padding: 0 0 0 10rem;
}

button {
    background: blue;
    color:white;
    margin-left: 2rem;
}

button a{
    color: white;
    text-decoration: none;
}
.policy{
    margin-left: 10rem;
    font-size:x-small;
}

.vid{
    padding: 0 0 1rem 15rem;
    font-size:smaller;
}

.block{
    width: 300px;
    height: 300px;
    padding: 1rem;
}

.right{
    float:right;
    margin-left: 1rem;
}

.left{
    float:left;
    margin-right: 1rem;
}

.next{
    text-transform: uppercase;
    padding: 1rem 0 0 10rem;
    font-size: larger;
    line-height: 0.1;
}

h3{
   margin-left: 10rem;
    font-size: larger;
}

.t{
    width: 50ch;
    margin-left: 10rem;
    font-size: large;
}

h5{
    margin-bottom: 1rem;
}

.one{
    width:30ch; 
    margin-bottom: 2rem;
    border-radius: 1rem;
    margin-left: 13rem;
    border-left: 0.5rem solid cyan;   
}

.action-section {
  background: blue;
  padding: 4rem 1.5rem;
  color: white;
}

.action-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 3rem;
}

.action-header h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.action-header p {
  font-size: 1.1rem;
  line-height: 1.6;
}
.action-card {
  background: white;
  color: grey;
  max-width: 1100px;
  margin: 0 auto 3rem;
  border-radius: 1rem;
  padding: 2rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.action-card.reverse {
  flex-direction: row-reverse;
}

.card-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 0.75rem;
}
.card-content {
  max-width: 450px;
}

.tag {
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: blue;
  margin-bottom: 0.75rem;
}

.card-content p {
  font-size: 1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .white-card {
    flex-direction: column;
    text-align: center;
  }

   .right {
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  .action-card,
  .action-card.reverse {
    flex-direction: column;
    text-align: center;
  }

  .card-content {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .action-header h2 {
    font-size: 1.8rem;
  }

  .action-header p {
    font-size: 1rem;
  }

  .action-card {
    padding: 1.5rem;
  }
}

.up{
    width: auto;
    margin: 0 auto 1rem;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.box1{
    border: 0.25rem solid white;
    color: black;
    background: white;
    border-radius:0.25rem;
    width: 500px;
    height:300px;
    margin-left:20rem;
    text-align:left
}

.box2{
    border: 0.25rem solid white;
    color: black;
    background: white;
    border-radius:0.25rem;
    width: 500px;
    height:300px;
    margin-left:20rem;
    text-align:right;
    padding:0;
}

.box{
    width:300px;
    background: lightgray;
    margin-left:10rem;
    padding:0 1rem 1rem 0;
    text-align:center;
}
.box button{
    color:black;
    background:white;
    border: 0.1rem solid blue;
    border-radius: 0.5rem;
}
.cards{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}
.last{
    text-align:center;
    font-size:large;
    font-weight:600;
}